/* reset */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* animation */

@keyframes wink {
    to {
        top: 110px;
        height: 10px;
        border-radius: 50% 50% 10% 0;
        transform: rotate(-10deg);
    }
}

@keyframes heart {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes face {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1);
    }
}

@keyframes blush {
    from {
        background-color: #FF8E99;
    }
    to {
        background-color: #FF7A85;
    }
}

@keyframes whisker-one {
    from {
        transform: rotate(10deg);
    }
    to {
        transform: rotate(6deg);
    }
}

@keyframes whisker-two {
    from {
        transform: rotate(-10deg);
    }
    to {
        transform: rotate(-6deg);
    }
}

/* design */

.raccoon {
    position: relative;
    margin: 200px auto;
    width: 400px;
    animation: face 0.6s infinite alternate;
}

.whisker {
    position: absolute;
    width: 100px;
    height: 10px;
    background-color: black;
    border-radius: 20px;
    z-index: 10;
}

.whisker.top {
    top: 150px;
}

.whisker.bottom {
    top: 180px;
}

.whisker.left {
    left: 50px;
}

.whisker.right {
    right: 29px;
}

.whisker.left.top,
.whisker.right.bottom {
    transform: rotate(10deg);
    animation: whisker-one 0.6s infinite alternate;
}

.whisker.left.bottom,
.whisker.right.top  {
    transform: rotate(-10deg);
    animation: whisker-two 0.6s infinite alternate;

}

.raccoon .ear {
    position: absolute;
    top: -40px;
    width: 100px;
    height: 110px;
    background-color: #CD8F49;
    border: 10px solid black;
    border-radius: 48% 52% 48% 52% / 100% 100% 0% 0%;
    z-index: -2;
}

.ear.left {
    left: 40px;
    transform: rotate(-20deg);
}

.ear.right {
    right: 40px;
    transform: rotate(20deg);
}

.raccoon .earline.left {
    position: absolute;
    top: 50px;
    left: 0;
    width: 80px;
    background-color: #000;
    border: 5px solid #000;
    border-radius: 30%;
    transform: rotate(90deg);
    border-radius: 10% 0 0 50%;
}

.raccoon.earline.right {
    position: absolute;
    top: 40px;
    right: 0;
    width: 60px;
    background-color: #000;
    border: 5px solid #000;
    border-radius: 30%;
    transform: rotate(90deg);
    border-radius: 50% 0 0 10%;
}

.raccoon .face {
    position: relative;
    width: 400px;
    height: 300px;
    background-color: #CD8F49;
    border: 10px solid black;
    border-radius: 49% 51% 49% 51%;
    overflow: hidden;
}

.raccoon .eye {
    position: absolute;
    top: 100px;
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50%;
    z-index: 2;
}

.eye.left {
    left: 150px;
}

.eye.right {
    right: 150px;
    animation: wink 0.6s infinite alternate;
}

.wink_heart {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 80px;
    right: 90px;
    background-image: url(https://s3.marpple.co/files/u_1150555/2020/5/original/f_2373286_1589350485334_afE9w6nmqCD4F9B9N7h6sJ.png);
    background-size: contain;
    z-index: 99;
    animation: heart 0.6s infinite alternate;
}

.glasses .circle {
    position: absolute;
    top: 60px;
    width: 120px;
    height: 120px;
    border: 8px solid black;
    border-radius: 50%;
    z-index: 3;
}

.circle.left {
    left: 70px;
}

.circle.right {
    right: 50px;
}

.glasses .glasses_line {
    position: absolute;
    top: 130px;
    left: 200px;
    width: 15px;
    height: 8px;
    background-color: #000;
    z-index: 3;
}

.face .nose {
    position: absolute;
    top: 140px;
    left: 180px;
    width: 40px;
    height: 25px;
    background-color: black;
    border-radius: 45% 55% 45% 55%;
    z-index: 2;
}

.face .mouse-line {
    position: absolute;
    top: 150px;
    left: 137px;
    width: 110px;
    height: 60px;
    background-color: white;
    border-radius: 48% 52% 48% 52%;
    border: 10px solid black;
    z-index: 1;
}

.line.middle {
    position: absolute;
    top: 9px;
    left: 190px;
    width: 20px;
    height: 140px;
    background-color: #8B4F1D;
    border-radius: 20% 20% 0 0;
}

.blush {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #FF8E99;
    border-radius: 50%;
    top: 130px;
    animation: blush 0.6s alternate infinite;
}

.blush.left {
    left: 50px;
}

.blush.right {
    right: 50px;
}

.pattern {
    position: absolute;
    top: 100px;
    width: 62px;
    height: 100px;
    background-color: #8B4F1D;
    border-radius: 50%;
}

.pattern.left {
    left: 120px;
    transform: rotate(25deg);
}

.pattern.right {
    right: 120px;
    transform: rotate(-25deg);
}

.bang {
    position: absolute;
    height: 100px;
    background-color: #000;
}

.bang.middle {
    width: 120px;
    left: 140px;
    border-radius: 0 0 15px 15px;
}

.bang.left {
    left: 15px;
    width: 140px;
    border-radius: 50%;
    transform: rotate(-40deg);
    
}

.bang.right {
    right: 15px;
    width: 140px;
    border-radius: 50%;
    transform: rotate(40deg);
    
}

.hair .back {
    position: absolute;
    width: 150px;
    height: 220px;
    background-color: #000;
    border-radius: 50%;
    top: 50px;
}

.back.left {
    left: -21px;
    transform: rotate(30deg);
}

.back.right {
    right: -35px;
    transform: rotate(-30deg);
}
